/*! Flexbox Layout ~ by Bronek Szulc @ github.com/bszulc */

//
// Main
//

@import 'bourbon';


// colours
$lgray: #f2f2f2;
$mgray: #999;
$dgray: #222;


@import '_normalize';

@import 'partials/_global';
@import 'partials/_top-header';
@import 'partials/_main-content';
@import 'partials/_footer';

@import 'media/_min-515';
@import 'media/_min-768';
@import 'media/_min-1000';