//
// Media - Min 1000px
//

@media (min-width: 1000px) {
  //
  // global
  //
  .mobile-visible {
    display: none;
  }

  .switch-row {
    @include flex-direction(row);
  }


  //
  // header
  //
  #top-header {
    border-bottom: 0;
  }

  .top-logo {
    margin: 0;
  }

  .top-nav {
    @include order(1);

    background-color: $lgray;
    margin-bottom: 0;

    .nav-links {
      @include align-items(flex-end);
      
      position: static;
      margin: 40px 10px 0;
      height: auto;
      z-index: 0;
      background-color: transparent;

      &.opened {
        border: 0;
      }

      li + li {
        border-top: 0;
      }

      a {
        display: block;
        padding: 10px 15px;
        text-align: center;

        &:hover,
        &:focus {
          background-color: #fff;
        }
      }
    }
  }

  .bottom-nav {
    @include justify-content(space-around);

    .nav-column {
      margin-right: 0;
    }
  }

  //
  // main
  //
  #main-content {
    .main-column {    
      & > .pad {
        padding-left: $section-padding;
        padding-right: $section-padding;
      }

      & + .main-column {
        border-top: 0;
        border-left: 1px solid $mgray;
      }
    }

    #primary-column,
    #secondary-column,
    #tertiary-column {
      & > .pad:first-child {
        padding-top: 0;
      }
    }

    #primary-column {
      & > .pad {
        padding-left: 0;
      }
    }
    #tertiary-column {
      & > .pad {
        padding-right: 0;
      }
    }
  }

  .date-and-link {
    @include justify-content(space-between);
  }
}