//
// Footer
//

#bottom-footer {
  border-top: 5px solid $mgray; 
}

.bottom-nav {
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  a {
    display: inline-block;
    padding: 2px 0;
    font-size: 0.9em;
  }

  .nav-column {
    margin-right: 20px;
  }

  .nav-heading {
    margin: 20px 0 10px;
    font-size: 1.05em;
  }
}

.footer-copyright {
  padding-top: 20px;
  text-align: right;
}