//
// Global
//

// overrides

* {
  box-sizing: border-box;
}

a {
  color: $dgray;
}

p {
  line-height: 1.3em;
}

img {
  width: 100%;
  max-width: 100%;
}

button {
  border-radius: 0;
  border: 1px solid $mgray;
  background-color: $lgray;
  color: $dgray;
}

input[type="text"] {
  border-radius: 0;
  border: 1px solid $mgray;
  color: $dgray;
}

nav a {
  text-decoration: none;
  
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


// utility classes

.main-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

.switch-row,
.row,
.column {
  @include clearfix;
  @include display(flex);
}
.switch-row {
  @include flex-direction(column);
}
.row {
  @include flex-direction(row);
}
.column {
  @include flex-direction(column);
}

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.list-no-margin {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.mobile-visible {
  display: block;
  border-color: #bbb;
}

.pad {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  padding-right: $section-padding;
  padding-left: $section-padding;
}

.mute-text {
  color: $mute;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}